.home-container {
  width: 100%;
  height: 100vh;
}

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}
.carousel::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(10, 18, 31, 0.7), rgba(10, 18, 31, 0.7));

  z-index: 1;
}

.slides {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide-hidden {
  display: none;
}

.arrow {
  position: absolute;
  height: 2rem;
  width: 2rem;
  color: #fff;
  background-color: transparent;
  z-index: 3;
}

.arrow-left {
  left: 1.5rem;
}
.arrow-right {
  right: 1.5rem;
}
.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
  background-color: transparent;
  z-index: 3;
}
.indicator {
  background-color: #fff;
  width: 2rem;
  height: 0.5rem;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 0.2rem;
}
.indicator-disabled {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 10px;
  border: 1px solid #fff;
  outline: none;
  cursor: pointer;
  margin: 0 0.2rem;
}
