.contact-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://images.unsplash.com/photo-1624969862293-b749659ccc4e?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact-controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 10px;
}

.appointment-header h1 {
  color: #ffffff;
  font-size: 50px;
}
.contact-content {
  width: 60%;
  height: 70vh;
  background-color: #e7e7e7;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.input {
  width: 70%;
  height: 60px;
  border: none;
  padding-left: 10px;
}

.contact-btn {
  width: 20%;
  height: 50px;
  background-color: #ffd700;
  border: none;
}
.contact-btn-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
textarea {
  resize: none;
}
.selectOptions {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px;
}

.options {
  width: 100%;
  height: auto;
  background-color: #fff;
}

@media only screen and (max-width: 600px) {
  .contact-content {
    width: 90%;
    background-color: #e7e7e7;
  }
  .appointment-header h1 {
    font-size: 30px;
  }
}
