.footer-container {
  width: 100%;
  height: 30vh;
  background-color: #ffd900;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
  /* margin-top: 20px; */
}
.footer-btn {
  width: 160px;
  height: 40px;
  background-color: #000;
  color: #ffd900;
  border: none;
}

.footer-btn:hover {
  background-color: #fff;
  color: #000;
}

.book-now {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  /* background-color: red; */
}

.opening-hours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.footer-unordered li {
  list-style: none;
  padding-top: 8px;
}
.footer-unordered a {
  text-decoration: none;
  color: #000;
}
.footer-headers {
  font-size: 20px;
  color: #000;
}

.book-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: justify;
}
.book-text p {
  width: 50%;
}

.hours {
  padding-top: 8px;
}

@media only screen and (max-width: 600px) {
  .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    padding: 20px;
  }
  .footer-headers {
    font-size: 15px;
  }
  .opening-hours {
    display: flex;
  }
  .hours {
    font-size: 12px;
    width: 100%;
  }
  .book-text p {
    width: 100%;
    font-size: 12px;
  }
  .book-now {
    width: 100%;
  }
  .footer-unordered li {
    padding-top: 8px;
    font-size: 12px;
  }
  .footer-btn {
    width: 100px;
    height: 25px;
    font-size: 10px;
    background-color: #000;
    color: #ffd900;
    border: none;
  }
}
